* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Orbitron", system-ui, sans-serif;
  color: white;
  background-color: #000000;
}

.header {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.frame {
  display: flex;
  text-transform: uppercase;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.frame img {
  width: 20px;
  display: flex;
  height: 20px;
  margin-right: 5px;
}

.frame .main_title {
  gap: 5px;
  display: flex;
  align-items: center;
  font-size: 9px;
  color: white;
}

#hero {
  display: block;
  width: 100%;
  height: 300px;
  height: auto;
}

#container {
  position: relative;
  width: 100%;
  display: inline-block;
}

.on_it {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: block;
  font-size: 40px;
  text-transform: uppercase;
  height: auto;
  font-family: Orbitron;
  font-weight: 700;
  font-style: Bold;
  line-height: 100%;
  text-align: center;
}
.form-group {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  justify-content: flex-start;
}
select {
  padding: 5px 10px;
  width: 100%;
  max-width: 200px;
  height: 20px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
}
option {
  font-size: 9px;
  color: white;
}

.one {
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  text-transform: uppercase;
}
.description {
  display: flex;
  align-items: center;
}

.description p {
  font-size: 10px;
  line-height: 1.5;
  overflow: hidden;
}
.content img {
  width: 130px;
  height: auto;
  max-width: 250px;
}
button {
  padding: 10px 20px;
  background-color: white;
  color: white;
  border: none;
  border-radius: 50px;
  width: 200px;
  font-size: 12px;
  background-color: #eb5855;
  text-transform: uppercase;
  cursor: pointer;
}

.two {
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  padding: 0 12px 10px 12px;
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}

.two img {
  max-width: 400px;
  height: auto;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.second_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 19px;
}

.second_content h3 {
  font-weight: 700;
  margin-left: 5px;
  font-style: Bold;
  margin-left: 15px;
  font-size: 16px;
  line-height: 100%;
}

.second_content p {
  display: flex;
  gap: 20px;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 150%;
  margin-top: 20px;
  margin-left: 15px;
  letter-spacing: 0px;
}

.two .second_button {
  padding: 10px 20px 10px 20px;
  background-color: white;
  color: white;
  margin-left: 15px;
  border: none;
  border-radius: 50px;
  width: 200px;
  font-size: 12px;
  background-color: #eb5855;
  cursor: pointer;
}

.second_button:hover {
  background-color: #ff7b78;
}

.second_button:active {
  background-color: #e04e4b;
}

.third_content {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 20px;
  max-width: 900px;
  width: 95%;
  justify-content: center;
  border: 2px solid #e04e4b;
  border-radius: 10px;
}

.beside_sc img {
  max-width: 900px;
  height: auto;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.beside_sc h3 {
  font-size: 20px;
  font-weight: 900;
  margin-left: 10px;
  letter-spacing: 0px;
}

.beside_sc p {
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
  letter-spacing: 0px;
  word-spacing: 5px;
} 

.beside_sc .third_button {
  padding: 10px 20px 10px 20px;
  background-color: white;
  color: white;
  margin-left: 10px;
  border: none;
  border-radius: 50px;
  width: 100px;
  font-size: 12px;
  background-color: #eb5855;
  cursor: pointer;
}