* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Orbitron", system-ui, sans-serif;
  color: white;
  background-color: #000000;
}

.header {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.frame {
  display: flex;
  text-transform: uppercase;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.frame img {
  width: 20px;
  height: 20px;
}

.frame .main_title {
  gap: 5px;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: white;
}

#hero {
  display: block;
  width: 100%;
  height: auto;
}

#container {
  position: relative;
  width: 100%;
  display: inline-block;
}

.on_it {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: block;
  font-size: 40px;
  text-transform: uppercase;
  height: auto;
  font-family: Orbitron;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
}
.form-group {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  justify-content: flex-start;
}
select {
  width: 100%;
  max-width: 200px;
  height: 20px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
}
option {
  font-size: 9px;
  color: black;
}

.one {
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  text-transform: uppercase;
}
.description {
  display: flex;
}

.description p {
  font-size: 12px;
  line-height: 1.5;
}
.content img {
  width: 130px;
  height: auto;
  max-width: 250px;
}
button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 50px;
  width: 200px;
  font-size: 12px;
  background-color: #eb5855;
  cursor: pointer;
}

.two {
  display: flex;
  padding: 10px;
  flex-direction: column;
  margin: 10px auto 0 auto;
  gap: 20px;
  max-width: 900px;
  width: 95%;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 10px;
}

.two img {
  max-width: 400px;
  height: auto;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.second_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
}

.second_content h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
}

.second_content p {
  display: flex;
  gap: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
}

.two .second_button {
  padding: 10px 20px 10px 20px;
  color: white;
  margin-left: 15px;
  border: none;
  border-radius: 50px;
  width: 200px;
  font-size: 12px;
  background-color: #eb5855;
  cursor: pointer;
}

.second_button:hover {
  background-color: #ff7b78;
}

.second_button:active {
  background-color: #e04e4b;
}

.third_content {
  display: flex;
  padding: 10px;
  flex-direction: column;
  margin: 10px auto 0 auto;
  gap: 20px;
  max-width: 900px;
  width: 100%;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 10px;
}

.beside_sc{
  padding: 10px;
}

.beside_sc img {
  max-width: 900px;
  height: auto;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.beside_sc h3 {
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0px;
}

.beside_sc p {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0px;
  word-spacing: 5px;
}

.beside_sc .third_button {
  padding: 10px 20px 10px 20px;
  background-color: white;
  color: white;
  border: none;
  border-radius: 50px;
  width: 100px;
  font-size: 12px;
  background-color: #eb5855;
  margin-bottom: 10px;
  cursor: pointer;
}

.comic_text {
  display: flex;
  flex-direction: column;
  margin: 10px auto 0 auto;
  padding: 10px;

  gap: 20px;
  max-width: 900px;
  width: 95%;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 10px;
}

.comic_text img {
  max-width: 900px;
  height: auto;
  border-radius: 4px;
}

.comic_text p {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0px;
  word-spacing: 5px;
}

.red-text {
  color: red;
}
.comic_text h3 {
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0px;
}

.frame_content {
  display: flex;
  flex-direction: column;
  margin: 10px auto 0 auto;
  gap: 10px;
  padding: 10px 10px;
  max-width: 900px;
  width: 95%;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 10px;
}

.frame_content img {
  max-width: 700px;
  height: auto;
  border-radius: 4px;
}

.frame_content button {
  padding: 10px 20px 10px 20px;
  background-color: white;
  color: white;
  border: none;
  border-radius: 50px;
  width: 150px;
  font-size: 12px;
  background-color: #eb5855;
  margin-bottom: 10px;
  cursor: pointer;
}
/* 
[ Heading / Text ]
[ CTA Button ]
[ NFT Grid (2 columns) ]
[ Footer links ] */

.next_section {
 border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.the_text {
  display: flex;
  flex-direction: column;
  margin: 10px auto 0 auto;
  gap: 10px;
  padding: 10px 10px;
  max-width: 900px;
  width: 95%;
  justify-content: center;
  border-radius: 10px;
}

.F_image {
  display: grid;
padding: 10px;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.S_image {
  display: grid;
padding: 10px;

  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.T_image {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
padding: 10px;

  gap: 10px;
}

.image{
  width: 100%;
  height: auto;
  gap: 10px;
}